html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#my-wrapper {
  margin: auto;
  max-width: 1280px;
}

#header {
  max-width: 800px;
  text-align: center;
  margin: 50px auto 100px;
}
#main_title {
  font-size: 3em;
  line-height: 1.1;
}

.volanta {
  display: inline-block;
  padding: 5px 10px;
  background-color: black;
  color: white;
  margin-bottom: 35px;
}
.subtitulo {
  font-size: 1.5em;
  text-align: center;
}
#bajada {
  margin: 30px auto;
}
.texto_container {
  max-width: 800px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 100px;
  text-align: left;
}
.texto_container.lista {
  margin-bottom: 10px;
}
.texto_parrafo {
  margin: 50px auto;
}
.reloj{
  width: 60%;
  margin: auto;
  padding: 5px 0 10px;
  border-bottom: 1px solid #999;
  text-align: center;
  letter-spacing: 2px;
}
.cuenta{
  width: 40% !important;
  margin: auto;
}

.fl-scrolly-step {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  max-width: 400px !important;
}
.cards{
  width: 80%;
  margin: 20px auto;
}
footer {
  margin-top: 100px;
  padding: 60px;
  background-color: #f2f2f2;
  text-align: center;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}
